# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Generated outputs
output/

# External repository
riscv-isa-manual/.coverage
